// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #13341E;
$secondary: #4E7145;
$accent: #EB9C35;
$tertiary: #C4501B;
$quaternary: #8A2B13;

$offwhite: #F8FAFC

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$heart: #EF4136
$poop: #B2652A

// Custom colours need these utility classes added to be fully accessible
.text-tertiary 
  color: #C4501B !important
.bg-tertiary 
  background: #C4501B !important

.text-quaternary 
  color: #8A2B13 !important
.bg-quaternary 
  background: #8A2B13 !important

.text-offwhite 
  color: #F8FAFC !important
.bg-offwhite 
  background: #F8FAFC !important

.text-heart 
  color: #EF4136 !important
.bg-heart 
  background: #EF4136 !important
  
.text-poop 
  color: #B2652A !important
.bg-poop 
  background: #B2652A !important