DB_URL=postgres://user:password@db:5432/bs_books?sslmode=disable
TEST_DB_URL=postgres://user:password@db:5432/bs_books_test?sslmode=disable

JWT_SECRET_KEY=your_secret_key_here
JWT_EXPIRATION_MINUTES=15

COMPOSE_PROJECT_NAME=bs_books_api

ENV=development

CORS_ALLOWED_ORIGIN=http://localhost:9000

GOOGLE_BOOKS_API_KEY=

EVENTS_MAX_RETRIES=5
EVENTS_RETRY_DELAY_SECONDS=5

AUTHOR_SIMILARITY_THRESHOLD=0.8

REVIEW_VISIBILITY_THRESHOLD=5

REFRESH_TOKEN_EXPIRY_DAYS=7

REFRESH_TOKEN_HASH_SALT=tokensaltblah