DB_URL=
TEST_DB_URL=

JWT_SECRET_KEY=
JWT_EXPIRATION_MINUTES=15

COMPOSE_PROJECT_NAME=bs_books_api

ENV=development

GOOGLE_BOOKS_API_KEY=

EVENTS_MAX_RETRIES=
EVENTS_RETRY_DELAY_SECONDS=

AUTHOR_SIMILARITY_THRESHOLD=

REVIEW_VISIBILITY_THRESHOLD=